form {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	#tabs-list {
		display: flex;
		flex-direction: column;

		div {
			display: flex;
			flex-direction: column;

			small {
				font-style: italic;
			}
		}
	}
}
